.comment
    height: 950px
    position: relative
    z-index: 2
    &__wrap
        margin-top: 200px
        display: flex
        align-items: flex-end
        position: relative
        display: flex
        justify-content: center
        padding: 0

.comment-thumb
    position: absolute
    left: -365px
    bottom: 0
    width: 380px
    .swiper-slide
        width: 120px
        height: 150px
        background-size: cover
        background-position: 50%
        margin-right: 10px

.comment-slider
    position: relative
    width: 400px
    .swiper-slide
        width: 400px
        height: 600px
        display: flex
        align-items: flex-end
        .comment-slider__item
            width: 400px
            height: 0px
            background-size: cover
            background-position: 50%
            position: relative
            color: $white
            padding: 0 40px
            display: flex
            flex-direction: column
            justify-content: flex-end
            &::before
                content: ''
                position: absolute
                left: 0
                top: 0
                bottom: 0
                right: 0
                background: linear-gradient(to bottom, rgba(38, 47, 64, 0) 40%, rgba(38, 47, 64, 0.8))
            &-body
                position: relative
                z-index: 1
                margin-bottom: 75px
            &-name
                font-size: 24px
                font-weight: 400
            &-text
        &-active
            .comment-slider__item
                height: 100%
                transition: all .3s
    .swiper-button
        right: 0
        left: auto
        .swiper-button-next
            right: 0
            left: auto
        .swiper-button-prev
            left: 0
            right: auto
    .swiper-fraction
        left: 40px
        bottom: 5px
        color: $white
        font-size: 30px
    .swiper-pagination
        left: 105px !important
        width: 170px !important
        transform: rotate(180deg)
        .swiper-pagination-progressbar-fill
            top: 0px !important

.comment-text
    width: 800px
    margin-bottom: auto
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1)
    &__item
        padding: 70px
        background: #fff
        height: 550px

@media only screen and (max-width: 1470px)
    .comment-thumb
        display: none
    .comment-slider .swiper-slide .comment-slider__item
        height: 100%

@media only screen and (max-width: 1199.98px)
    .comment__wrap
        margin-top: 50px
        transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1) !important
    .comment-text
        width: 592px

@media only screen and (max-width: 991.98px)
    .comment
        height: auto
    .comment-slider
        width: 50%
    .comment-text
        width: 50%
    .comment-text__item
        padding: 30px
        overflow: hidden
        overflow-y: auto
    .comment-slider .swiper-pagination
        width: 135px!important

@media only screen and (max-width: 767.98px)
    .comment-slider .swiper-slide
        height: 400px
    .comment-slider .swiper-slide .comment-slider__item
        padding: 0px 15px
    .comment-slider .swiper-slide .comment-slider__item-name
        font-size: 16px
    .comment-slider__item-text
        font-size: 14px
    .comment-slider .swiper-fraction
        left: 15px
    .comment-slider .swiper-container-horizontal>.swiper-pagination-progressbar
        width: auto !important
        left: 70px!important
        right: 115px
    .comment-text__item
        height: 400px

@media only screen and (max-width: 575.98px)
    .comment-slider
        width: 100%
    .comment__wrap
        flex-wrap: wrap
    .comment-text
        width: 100%
    .comment-text__item
        height: 300px