.contact
    position: relative
    &__map
        height: 700px
    &__wrap
        position: absolute
        top: 0
        left: 60%
        height: 400px
        background: rgba(38, 47, 64, 0.9)
        z-index: 10
        color: $white
        padding: 50px

ymaps
    filter: grayscale(100%)